
.rightMain {
  
  width: 400px;
  height:260px;
  background-color:white;
    margin:0 auto;
  margin-top:40px;
  border-radius: 3px; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
}

.nouveauCavio {
  margin-top:15px;
 
}
.form-container {
  width:330px;
  margin:0 auto;
   margin-top:30px;
  
  

 
}
.btn-retrait {
  margin-left:-5px;  
  margin-top:3px;
}

.alert {
 font-size:10px; 
}
#account-email {
margin-top:10px;
border: 1px solid #ddd;
font-size: 16px;
line-height: 22px;
font-weight: 300;
font-family: 'Open Sans',Helvetica,sans-serif;
height: 35px;
width:308px;  
}
#account-password {
margin-top:5px;  
border: 1px solid #ddd;
font-size: 16px;
line-height: 22px;
font-weight: 300;
font-family: 'Open Sans',Helvetica,sans-serif;
height: 35px;
width:200px;   
}


#main {
 margin-top:60px; 
  
}
body {
 font-family: 'Open Sans',Helvetica,sans-serif; 
  color: #551c2c; 
  background-image:url(brushed.png); 
  background-repeat:repeat;
}
.mainHaut {
 background-image:url(fondVin2.jpg);
  
 height:350px;
 
}
.pull-right {

}
.brand {
 padding-left:50px; 
}
.roundimg {
   text-align:center; 
  width : 220px;
  margin: 0 auto;
  
}

.lead {
 
}
.containerMain {


  
}
.containerMain2 {

 padding-top:20px;
 padding-bottom:2px;
  
}
h1, p, h3, h2, h4, h5 {
  text-align:center;
}
.logoContainer {
  max-width: 900px;
  text-align:center;
  margin: 0 auto;
 
}
#ListeElement {
  width:100px;
  
}
#ListeElement1 {
  width:150px;
  
}
.th_nom {
  width:265px;
}
.th_region {
   width:165px;
}
.th_couleur {
  width:110px;
}
.th_annee {
   width:185px;
}
.th_appellation {
  width:255px;
}
.th_note {
  width:120px;
}
.th_action {
  width:150px;
}
.bu {
  background-color:grey;
  text-decoration: line-through;
}