
.rightMain {
  
  width: 400px;
  height:260px;
  background-color:white;
    margin:0 auto;
  margin-top:40px;
  border-radius: 3px; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
  border:4px #8C003D solid;
}

.nouveauCavio {
  margin-top:15px;
 
}
.form-container {
  width:330px;
  margin:0 auto;
   margin-top:30px;
  
  

 
}
.btn-retrait {
  margin-left:-5px;  
  margin-top:3px;
}

.alert {
 font-size:10px; 
}
#account-email {
margin-top:10px;
border: 1px solid #ddd;
font-size: 16px;
line-height: 22px;
font-weight: 300;
font-family: 'Open Sans',Helvetica,sans-serif;
height: 35px;
width:308px;  
}
#account-password {
margin-top:5px;  
border: 1px solid #ddd;
font-size: 16px;
line-height: 22px;
font-weight: 300;
font-family: 'Open Sans',Helvetica,sans-serif;
height: 35px;
width:200px;   
}


#main {
 margin-top:60px; 
  
}
body {
 font-family: 'Open Sans',Helvetica,sans-serif; 
  color: #551c2c; 
  background-image:url(brushed.png); 
  background-repeat:repeat;
}
.mainHaut {
 background-image:url(fondVin2.jpg);
  
 height:350px;
 
}
.pull-right {

}
.brand {
 padding-left:50px; 
}
.roundimg {
   text-align:center; 
  width : 220px;
  margin: 0 auto;
  
}

.lead {
 
}
.containerMain {


  
}
.containerMain2 {

 padding-top:20px;
 padding-bottom:2px;
  
}
h1, p, h3, h2, h4, h5 {
  text-align:center;
}
.logoContainer {
  max-width: 900px;
  text-align:center;
  margin: 0 auto;
 
}
#ListeElement {
  width:100px;
  
}
#ListeElement1 {
  width:100px;
  
}

.bu {
  background-color:grey;
  text-decoration: line-through;
}
.starter-template {
 margin-left:30px; 
}
.macavetitle {
 text-align:left;
}
.blocVin {
  background-color:white;
  
  width:790px;
}
hr {
  margin-top:3px;
  margin-bottom:3px;
}
.imgVin {
  margin-left:45px;
  margin-top:2px;
}
img.vin {
  height:55px;
  margin-top:4px;
}
.classNomVin {
  font-size:20px;
  margin-top:5px;
}
.classAppellation {
  font-size:16px;
  margin-top:4px;
}
.classAjoute {
  font-size:10px;
}
.classNoteVin {
  font-size:30px;
}
.votreNote {
  text-align:left;
  margin-top:1px;
}
.btnVin {
   margin-top:18px; 
  
}
.containerRight {
  margin-top:68px;
 margin-left:1px; 
  
}
.classBus {
  margin-top:5px;
  border:1px white solid;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
a.remettreCave {
 font-size:12px; 
  margin-top:-20px;
}
.bule {
  font-size: 10px;
}
.editWine {
 margin-top:50px; 
}
#new-password {
 width:200px;
  margin:0 auto;
}

