<template name="accueilTemplate">
   <div class="container">
     <div class = "containerMain">
      <div class="starter-template">
        <h1>Bienvenue sur Cavio</h1>
        <p class="lead">Créez et gérez votre cave à vin simplement et rapidement</p>
        
        <div class="mainHaut">
            <div class="row">
              <div class="span6">
                  
                   <div class="logoContainer">
                    <img src="grape2bottle2.png" width="300" class="mainImage"/>
                  </div>          
              </div>
              <div class="span6">
                  <form class="form-horizontal well " id="register-form" action="action">
                    <div class="control-group">
                      
                      <div class="controls">
                        <input type="email" id="account-email" placeholder="Votre adresse email">
                      </div>
                    </div>
                    <div class="control-group">
                      
                      <div class="controls">
                        <input type="password" id="account-password" placeholder="Choisissez un mot de passe">
                      </div>
                      <button type="submit" class="btn" id="create-account">Register</button>
                    </div>
                   
                  </form>
              </div>
            </div>
            
            
            
             
          </div>
         </div>
     </div>
     <hr>
     <h3 class="center">Pourquoi Cav.io ?</h3>
     <div class="row">
      <div class="span4">
          <div class="roundimg">
            <p>...car vous avez 10+ bouteilles et vous avez envie de savoir ce qui vous reste dans votre cave</p>
         <img src="cave.jpg" class="img-circle">
         </div>
      </div>
       
             <div class="span4">
          <div class="roundimg">
            <p>...car vous avez envie de garder une traçe de vos dégustations mémorables</p>
         <img src="degustation.jpg" class="img-circle">
         </div>
      </div>
       
             <div class="span4">
          <div class="roundimg">
            <p>...car vous avez envie de suivre ce que vos amis dégustent et partager vos coups de coeur</p>
         <img src="partager.jpg" class="img-circle">
         </div>
      </div>
      
     </div><br /><br />
     
    </div>
  
  
</template>