<template name="contactForm">
 <div class="container">
	<div class="row">
		<div class="contactContainer well">
            <form>
                <div class="controls controls-row row">
									<div class="col-xs-6">
                    <input id="name120" name="nameMessage" type="text" class="form-control" placeholder="Votre nom"> 
									</div>
									<div class="col-xs-6">	
                    <input id="email120" name="emailMessage" type="email" class="form-control" placeholder="Votre email">
  								</div>              
							</div><br />
                <div class="controls row">
									<div class="col-xs-12">
                    <textarea id="message120" name="messageMessage" class="form-control" placeholder="Votre message" rows="5"></textarea>
                	</div>
                 </div> 
							<br />
                <input id="contact-submit" type="submit" class="btn btn-success  envoyerContactForm" value="Envoyer">
                
            </form>
        </div>
	</div>
</div>
  
  
</template>  
  