<template name="maCaveTemplateListe">
   <div class="container">
     {{#if currentUser}}


      <div class="starter-template">
        
        <div class="row">
          <div class="col-md-12">
            {{> tableauVinTemplate  }}
          
          </div>
          
         
        </div>
       
       
       </div>
       
      
     </div>
    </div>
  {{else}}
  <div class="alert alert-error">
    <p>You can not access this page : please log-in</p>
  </div>
  {{/if}}
</template>