<template name="maCaveTemplate">
   <div class="container">
     
     <div class = "containerMain2">
       <h4 class="macavetitle">Gestion de ma cave : </h4><br />
      <div class="starter-template">
        <div class="row">
          <div class="span8">
            {{> tableauVinTemplate  }}
          
          </div>
          
          <div class="span4">
            {{> tableauVinTemplateRight  }}
          
          </div>
        </div>
       
       
       </div>
       
      
     </div>
    </div>
  
  
</template>