<template name="maCaveTemplateThumbnail">
   <div class="container">
     {{#if currentUser}}
     
     
     
     <div class = "containerMain2">
         
        </div>
       
       
       <h4 class="macavetitle">Gestion de ma cave : </h4>
       <div class="row">
        
        <div class="span1 offset2"><a href="{{ pathFor 'nouveauVin' }}" class="btn btn-success btnVin btn-ajouter"><i class="icon-plus-sign icon-white"></i> Ajouter un vin</a></div>
      </div>
      <div class="starter-template">
        <div class="row">
          <div class="col-md-12">
            {{> tableauVinTemplateThumbnail  }}
          
          </div>
          
          
        </div>
       
       
       </div>
       
      
     </div>
    </div>
  {{else}}
  <div class="alert alert-error">
    <p>You can not access this page : please log-in</p>
  </div>
  {{/if}}
</template>