<template name="nouveauVin">
  <div class="container cont2">
	<form class="form-inline well">
  <div class="row marginleft2">	
		<div class="span10">
			<div class="row">
					
						<input type="text" class="input-large" placeholder="Producteur du vin" name="nom_vin">
						
						
					
						<input type="text" class="input-large appellation" placeholder="Appellation" name="appellation_vin" id="tags" />
					
					
					
						
							<select id="ListeElement11" name="region_vin"> 
								 <option value="valeur1">Bordeaux</option> 
								 <option value="valeur2">Bourgogne</option> 
								 <option value="valeur3">Alsace</option> 
									<option value="valeur3">Côte du Rhone</option> 
									<option value="valeur3">Vallée de la Loire</option> 
									<option value="valeur3">Champagne</option> 
									<option value="valeur3">Beaujoalais</option> 
									<option value="valeur3">Provence-Corse</option> 
									<option value="valeur3">Jura</option> 
									<option value="valeur3">Languedoc-Roussillon</option> 
								<option value="valeur3">Savoie-Bugey</option>
								<option value="valeur3">Sud-Ouest</option>
							</select> 
						
					
						 <select id="ListeElement" name="couleur_vin"> 
							 <option value="valeur1">Rouge</option> 
							 <option value="valeur2">Blanc</option> 
							 <option value="valeur3">Rosé</option> 
        		</select> 
						
					
			
			</div>
		
			<div class="row annee">
				<input type="text" class="input-mini" placeholder="Année" name="annee_vin">
						<select id="ListeElement" name="note_vin"> 
							<option value="valeur1">Note : 1</option> 
							<option value="valeur2">Note : 2</option> 
							<option value="valeur3">Note : 3</option> 
						</select> 
				  
			
			</div>
			<div class="row annee">
				<input class="input-block-level" name="commentaireVin" type="text" placeholder="votre commentaire...."> 
			
			</div>
			
			<div class="row annee">
							<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
								Informations avancés :
									</button>
									 
									<div id="demo" class="collapse"> 
													<div class="row annee2">
									Apogée : entre     <input type="text" class="input-mini inputtoutpetit">     ans et    <input type="text" class="inputtoutpetit">    ans
					
					</div>
					<div class="row annee2">
									Température de service : entre     <input type="text" class="inputtoutpetit">     °C et    <input type="text" class="inputtoutpetit">  °C
					
					</div>

													
													
													</div>
					
					
			
		
				
			</div>	
		</div>
		<div class="span2">
			<button type="submit" class="btn btn-green btn-big" value="Submit">Créer un vin</button>
			
		</div>
		</div>	
	</form> 
	</div>
  
  
</template>  