<template name="tableauVinTemplateThumbnail">

  
  
  <br />
    <div class="row well">
   
    <div class="col-xs-5">
      <div class="span1 offset2"><a href="{{ pathFor 'nouveauVin' }}" class="btn btn-success btnVin btn-ajouter"><i class="icon-plus-sign icon-white"></i> Ajouter un vin</a></div>
    </div> 
    <div class="col-xs-7 colAffichage">
              <div class="col-xs-3">
                <p class="textalignleft">Affichage par : </p>
        </div> 
        <div class="col-xs-2">
          <p class="textalignleft"><a href="{{ pathFor 'maCaveTemplateListe' }}">Par Liste</a></p>
        </div>  
        <div class="col-xs-3">  
          <p class="textalignleft"><a href="{{ pathFor 'maCaveTemplateThumbnail' }}">Par Miniature</a></p>
        </div>  
         <div class="col-xs-1"> 
          <p class="textalignleft"><a href="{{ pathFor 'tableauVinTemplateRight' }}">Archives</a></p>
        </div>  
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12">
    <div class="pageVins">
			
      <div class="rowvins">			
				{{#each vins}}
					<div class="spacustom">
            <p class="thumbnail2">{{ nomVin  }} - {{ anneeVin  }}</p>
            <p class="thumbnail2">{{ appellationVin  }} - {{ regionVin  }}</p>
				  </div>
				{{/each}}	
      </div>
  </div> 
  </div>
</template>       