<template name="tableauVinTemplate">

  
  
  <br />
  <div class="row well">
   
    <div class="col-xs-5">
      <div class="span1 offset2"><a href="{{ pathFor 'nouveauVin' }}" class="btn btn-success btnVin btn-ajouter"><i class="icon-plus-sign icon-white"></i> Ajouter un vin</a></div>
    </div> 
    <div class="col-xs-7 colAffichage">
              <div class="col-xs-3">
                <p class="textalignleft">Affichage par : </p>
        </div> 
        <div class="col-xs-2">
          <p class="textalignleft"><a href="{{ pathFor 'maCaveTemplateListe' }}">Par Liste</a></p>
        </div>  
        <div class="col-xs-3">  
          <p class="textalignleft"><a href="{{ pathFor 'maCaveTemplateThumbnail' }}">Par Miniature</a></p>
        </div>  
         <div class="col-xs-1"> 
          <p class="textalignleft"><a href="{{ pathFor 'tableauVinTemplateRight' }}">Archives</a></p>
        </div>  
    </div>
  </div>  
  
  
  <div class="row">
    <div class="col-md-12">
    <div class="pageVins">
       <table class="table table-striped table-condensed table-hover tableStyle">
            <thead>
             <tr>
               <th>Producteur</th>  
               <th>Région</th> 
							 <th>Couleur</th> 
               <th>Appellation</th> 
               <th>Année</th> 
               <th>Note</th> 
               <th>Garde (min/max)</th> 
               <th>°T (min/max)</th> 
							 <th>Avis</th>
               <th>Action</th> 
             </tr>  
            </thead> 
           <tbody>
             {{#each vins}}
                <tr>
                  <td class="td1">{{ nomVin  }}</td>
                  <td class="td2">{{ regionVin  }}</td>
									<td class="td3">{{ couleurVin  }}</td>
                  <td class="td4">{{ appellationVin  }}</td>
                  <td class="td5">{{ anneeVin }}</td>
                  <td class="td6">{{ noteVin  }}</td>
                  <td class="td7">{{ cavemin  }} - {{  cavemax }}</td>
                  <td class="td8">{{ tempmin  }} - {{  tempmax }}</td>
									<td class="td9">{{ commentaireVin }}</td>
                  <td class="td10">   <a href="{{ pathFor 'vinEdit' }}" class=""><i class="icon-pencil icon-white"></i> Editer</a>
                <a href="" class=" modifyStatus"><i class="icon-glass icon-white"></i> Boire   </a>
										
						     </td>
						 </tr>
             {{/each}}
         </tbody>  
         </table>
      </div>
  </div> 
  </div>
</template>       