<template name="tableauVinTemplate">
<form class="form-inline">
        <input type="text" class="input-large" placeholder="Nom du vin" name="nom_vin">
          <select id="ListeElement1" name="region_vin"> 
           <option value="valeur1">Bordeaux</option> 
           <option value="valeur2">Bourgogne</option> 
           <option value="valeur3">Alsace</option> 
            <option value="valeur3">Côte du Rhone</option> 
            <option value="valeur3">Vallée de la Loire</option> 
            <option value="valeur3">Sud</option> 
        </select> 
        <select id="ListeElement" name="couleur_vin"> 
           <option value="valeur1">Rouge</option> 
           <option value="valeur2">Blanc</option> 
           <option value="valeur3">Rosé</option> 
        </select> 
        <input type="text" class="input-medium" placeholder="Année" name="annee_vin">
        <input type="text" class="input-large appellation" placeholder="Appellation" name="appellation_vin">
        <select id="ListeElement" name="note_vin"> 
          <option value="valeur1">Note : 1</option> 
          <option value="valeur2">Note : 2</option> 
          <option value="valeur3">Note : 3</option> 
        </select> 
         
        
        <button type="submit" class="btn" value="Submit">Créer nouveau</button>
      </form> 
       
       
       <table class="table">
              <thead>
                <tr>
                  <th class="th_nom">Nom</th>
                  <th class="th_region">Région</th>
                  <th class="th_couleur">Couleur</th>
                  <th class="th_annee">Année</th>
                  <th class="th_appellation">Appellation</th>
                  <th class="th_note">Note</th>
                  <th class="th_action">Action</th>
                </tr>
              </thead>
              <tbody>
                
                
                {{#each vins}}
                {{#if compareStatus  statusVin  }}
                      <tr class="bu">
                        <td>{{ nomVin  }}</td>
                        <td>{{ regionVin  }}</td>
                        <td>{{ couleurVin  }}</td>
                        <td>{{ anneeVin  }}</td>
                        <td>{{ appellationVin  }}</td>
                        <td>{{ noteVin  }}</td>
                        <td><a href="" class="modifyStatus btn">{{ statusVin  }}</a>  /  <a href="{{vinEditPath this}}">edit</a></td>
                    </tr>
                  {{ else }}
                    <tr class="nonbu">
                        <td>{{ nomVin  }}</td>
                        <td>{{ regionVin  }}</td>
                        <td>{{ couleurVin  }}</td>
                        <td>{{ anneeVin  }}</td>
                        <td>{{ appellationVin  }}</td>
                        <td>{{ noteVin  }}</td>
                        <td><a href="" class="modifyStatus btn">{{ statusVin  }}</a>  /  <a href="{{vinEditPath this}}">edit</a></td>
                    </tr>
                  {{/if}}
                {{/each}}
                
              </tbody>
            </table>
</template>       