<template name="tableauVinTemplateThumbnail">

  
  
  <br />
  <div class="row">
    <div class="span2">
			<p class="textalignleft"><a href="{{ pathFor 'maCaveTemplateListe' }}">Par Liste</a></p>
			<p class="textalignleft"><a href="{{ pathFor 'maCaveTemplateThumbnail' }}">Par Miniature</a></p>
      <p class="textalignleft"><a href="{{ pathFor 'tableauVinTemplateRight' }}">Archives</a></p>
    </div>
    <div class="span10">
    <div class="pageVins">
			
      <div class="rowvins">			
				{{#each vins}}
					<div class="spacustom">
            <p class="thumbnail2">{{ nomVin  }} - {{ anneeVin  }}</p>
            <p class="thumbnail2">{{ appellationVin  }} - {{ regionVin  }}</p>
				  </div>
				{{/each}}	
      </div>
  </div> 
  </div>
</template>       