<template name="tableauVinTemplateRight">
  <h4 class="macavetitle">Gestion de ma cave : Vins consommés</h4>
 <br />
  <div class="row">
    <div class="span2">
			<p class="textalignleft"><a href="{{ pathFor 'maCaveTemplateListe' }}">Par Liste</a></p>
			<p class="textalignleft"><a href="{{ pathFor 'maCaveTemplateThumbnail' }}">Par Miniature</a></p>
      <p class="textalignleft"><a href="{{ pathFor 'tableauVinTemplateRight' }}">Archives</a></p>
    </div>
    <div class="span10">
      <div class="containerRight" >
  
        
    {{#each vinsBus}}
    <div class="classBus">
      <div class="classVinsBus">
        {{ nomVin  }} - {{ anneeVin  }} - {{ regionVin  }}
      </div> 
      <span class="bule">Bu le {{ submittedModifiedText  }} - <a href="" class="modifyStatus remettreCave">remettre dans la cave</a></span>
    </div>
    {{/each}}
</div>

      
      
      
  </div> 
  </div> 
  

</template>  